html {
  font-size: 1rem;
  font-family: "M PLUS U", sans-serif;
  background-color: #fbf7f3;
  overflow-x: hidden;
}
html,
body {
  height: 100%;
}
a {
  color: #ff0000;
  text-decoration: none;
}

body {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

main {
  flex: 1;
}

.portfolio {
  margin: auto;
  padding: 0.5rem;
  background-color: #fff0ce;
  filter: drop-shadow(0 0 0.25rem black);
}

.portfolio h1 {
  margin-top: 0.25rem;
}

@media screen and (max-width: 1000px) {
  .portfolio {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  body {
    width: 100%;
    padding: 0.5rem;
  }
  .portfolio {
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 300) {
  html {
    font-size: 0.8rem;
  }
}
